Financial Health Monitor.json
{
  "name": "Financial Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "8711bab7-53cc-47a2-8e3e-c2e6f003c634",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H8DfYZw1dv9IkLC_LyPaIvPK3Dy0ZnB_kcCnJHU1poU",
          "mode": "list",
          "cachedResultName": "financial_health_monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8DfYZw1dv9IkLC_LyPaIvPK3Dy0ZnB_kcCnJHU1poU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1465882609,
          "mode": "list",
          "cachedResultName": "financial_health_monitor.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H8DfYZw1dv9IkLC_LyPaIvPK3Dy0ZnB_kcCnJHU1poU/edit#gid=1465882609"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Reporting_Week",
              "lookupValue": "2026-W20"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -96
      ],
      "id": "aa679176-63a6-49e3-8cf3-7557a61a85a9",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bFUfy1oIQ2l7UdfS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5e5e5ee1-84d7-471e-a36d-86d943e02cdc",
              "leftValue": "={{ $json.Risk_Flag }}",
              "rightValue": "None",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -96
      ],
      "id": "bb82732b-e341-44e8-8357-5b82bac638b0",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json;\n\nconst riskColor = c.Risk_Flag === 'Critical' ? '#D32F2F' : '#F57C00';\nconst riskEmoji = c.Risk_Flag === 'Critical' ? '🔴' : '🟡';\n\nconst html = `<!DOCTYPE html><html><head><style>\nbody{font-family:Arial,sans-serif;padding:30px;color:#222;max-width:700px}\nh1{color:${riskColor}} h2{color:#444;font-size:16px}\ntable{width:100%;border-collapse:collapse;margin:16px 0}\nth{background:#333;color:#fff;padding:8px;text-align:left;font-size:13px}\ntd{padding:8px;border-bottom:1px solid #eee;font-size:13px}\n.badge{display:inline-block;padding:4px 12px;border-radius:12px;font-weight:bold;\ncolor:#fff;background:${riskColor};font-size:13px}\n.metric{background:#f9f9f9;padding:12px;border-radius:8px;margin:8px 0}\n</style></head><body>\n<h1>${riskEmoji} Financial Health Alert — ${c.Company_Name}</h1>\n<p>Week: <strong>${c.Reporting_Week}</strong> &nbsp;|&nbsp; \nStatus: <span class=\"badge\">${c.Risk_Flag}</span></p>\n<h2>Key Financial Ratios</h2>\n<table>\n<tr><th>Metric</th><th>Value</th><th>Benchmark</th><th>Status</th></tr>\n<tr><td>Current Ratio</td><td>${c.Current_Ratio}</td><td>&gt; 1.5</td>\n<td>${c.Current_Ratio < 1.0 ? '🔴 Critical' : c.Current_Ratio < 1.5 ? '🟡 Watch' : '🟢 OK'}</td></tr>\n<tr><td>Debtor Days</td><td>${c.Debtor_Days}</td><td>&lt; 55 days</td>\n<td>${c.Debtor_Days > 75 ? '🔴 Critical' : c.Debtor_Days > 55 ? '🟡 Watch' : '🟢 OK'}</td></tr>\n<tr><td>Gross Margin</td><td>${c.Gross_Margin_Pct}%</td><td>&gt; 35%</td>\n<td>${c.Gross_Margin_Pct < 25 ? '🔴 Critical' : c.Gross_Margin_Pct < 35 ? '🟡 Watch' : '🟢 OK'}</td></tr>\n<tr><td>Cash Runway</td><td>${c.Weeks_Cash_Runway} weeks</td><td>&gt; 8 weeks</td>\n<td>${c.Weeks_Cash_Runway < 4 ? '🔴 Critical' : c.Weeks_Cash_Runway < 8 ? '🟡 Watch' : '🟢 OK'}</td></tr>\n</table>\n<p style=\"color:#666;font-size:12px\">Generated automatically by Financial Health Monitor</p>\n</body></html>`;\n\nreturn { json: { ...c, html } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -96
      ],
      "id": "c0af38c2-d5b6-4536-8ecb-af35bb05844e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const c = $json;\n\nconst issues = [];\nif (c.Current_Ratio < 1.0) issues.push(`critically low liquidity (current ratio: ${c.Current_Ratio})`);\nelse if (c.Current_Ratio < 1.5) issues.push(`below-benchmark liquidity (current ratio: ${c.Current_Ratio})`);\nif (c.Debtor_Days > 75) issues.push(`severely extended debtor collection (${c.Debtor_Days} days)`);\nelse if (c.Debtor_Days > 55) issues.push(`slow debtor collection (${c.Debtor_Days} days)`);\nif (c.Gross_Margin_Pct < 25) issues.push(`critically compressed gross margin (${c.Gross_Margin_Pct}%)`);\nelse if (c.Gross_Margin_Pct < 35) issues.push(`below-target gross margin (${c.Gross_Margin_Pct}%)`);\nif (c.Weeks_Cash_Runway < 4) issues.push(`dangerously low cash runway (${c.Weeks_Cash_Runway} weeks)`);\nelse if (c.Weeks_Cash_Runway < 8) issues.push(`constrained cash runway (${c.Weeks_Cash_Runway} weeks)`);\n\nconst urgency = c.Risk_Flag === 'Critical' \n  ? 'Immediate escalation recommended.' \n  : 'Schedule a review within 2 weeks.';\n\nconst advisory = `${c.Company_Name} is showing ${issues.join(' and ')} as of ${c.Reporting_Week}. ${urgency} Relationship manager should contact the client to discuss remediation options including debtor acceleration, cost reduction, or emergency credit facilities.`;\n\nreturn { json: { ...c, advisory } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -96
      ],
      "id": "1c0f2ff9-0beb-4bf7-b105-a2c312373243",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "brkiran385@gmail.com",
        "subject": "={{ $json.Risk_Flag === 'Critical' ? '🔴 URGENT' : '🟡 WATCH' }} Financial Alert — {{ $json.Company_Name }} ({{ $json.Reporting_Week }})",
        "message": "={{ $json.html }}<br><br><hr><p><strong>Advisory Note:</strong> {{ $json.advisory }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -96
      ],
      "id": "9ab1aceb-2d58-4ee0-ba18-78d2130cd044",
      "name": "Send a message",
      "webhookId": "de838d9a-1639-4932-91c5-1c5b4a8acab2",
      "credentials": {
        "gmailOAuth2": {
          "id": "6fvn6I73MHWkd1bw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "22e40d94-5edc-42dc-998d-1ec315297d17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c63ad868ac3eb4b2466b830144f2e7d3c63b10567768d46349597cbb7791c25e"
  },
  "id": "0wLB3zRzURu1CAv0",
  "tags": []
}